@charset "UTF-8";
        .ani {
            overflow: hidden;
        }

        .animation {
            font-size: 0px;
            min-height: 177px;
            white-space: nowrap;
            padding: 0px;
        }

        .item {
       		 width: 1899px;
            height: 800px;
            overflow: hidden;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: 1;

            -webkit-animation: move 30s ease-in-out infinite;
            -moz-animation: move 30s ease-in-out infinite;
            -o-animation: move 30s ease-in-out infinite;
            animation-direction: alternate;
             }

@keyframes move {
100% {    
transform: translateX(-200%);
}


